version: '3'

services:

  mysql:
    platform: linux/amd64
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql:/var/lib/mysql

  facturascripts:
    platform: linux/amd64
    image: facturascripts/facturascripts:latest
    restart: always
    ports:
      - 80:80
    volumes:
      - ./facturascripts:/var/www/html

  adminer:
    platform: linux/amd64
    image: adminer
    restart: always
    ports:
      - 8080:8080