# docker-compose.yaml
version: '3.8'
services:
  jenkins:
    container_name: jenkins
    image: jenkins/jenkins:lts
    privileged: true
    user: root
    ports:
      - 8200:8080
      - 50000:50000
    volumes:
      - ./jenkins_compose:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
